campus-query-replier.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "content": "**CUSTOMER SUPPORT ASSISTANT**",
        "height": 80,
        "width": 278,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        -240
      ],
      "typeVersion": 1,
      "id": "e933444d-ab13-4d38-8158-eaa3294156ed",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -240,
        408
      ],
      "id": "4baf3a8c-a13b-485f-b686-940e51ba63a9",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "B1Aog9yAcJm7oytZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Campus query",
              "description": "An email that is related to helping out a student of campus tint. They may be asking question about our policies or questions about our products or services"
            },
            {
              "category": "other ",
              "description": "any email that is not a campus email"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -16,
        408
      ],
      "id": "e72efd9f-9931-4238-a847-e3794d91d191",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        56,
        632
      ],
      "id": "416b7b13-a954-42aa-8c81-60f0619ea852",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "nnN6ecqYPcMlunKl",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        472,
        608
      ],
      "id": "57fac1d6-cd79-4733-ae54-2b70ea60540a",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "You are a campus support agent for TINT. Your job is to respond to incoming emails with relevant information using your knowledgebase tool.\n\nInstructions\n\n- Your output should be friendly and use emojis\n\n- Sign off as Mr. Helpful from Tech Haven Solutions\n\n# output must be the content of the mail"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        368,
        0
      ],
      "id": "e917a757-2957-4fae-ba13-0151b45892c1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        336,
        224
      ],
      "id": "a9ac96f3-f781-45a7-a147-2ab92af63ac9",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "nnN6ecqYPcMlunKl",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to access the knowlege base ",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-index-768",
          "mode": "list",
          "cachedResultName": "rag-index-768"
        },
        "topK": 8,
        "options": {
          "pineconeNamespace": "rag_docs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        464,
        224
      ],
      "id": "e6151fd1-93a6-4d82-9a49-c6d09e40bc6e",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "KqRGrBPqUcglBJ6C",
          "name": "customer workflow"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        432
      ],
      "id": "7675a833-1bb6-472c-82f8-f99b31fcd152",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "nnN6ecqYPcMlunKl",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "80664383-5bb1-4675-bee6-c10afbc58d2b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f356843ce976c442c3a1839cd5a480b360b1cd89af49c6bb77bcf436ed918bdc"
  },
  "id": "OJmUQtTIp3rkhVvQ",
  "tags": []
}