RAG CHATBOT.json
{
  "name": "RAG CHATBOT",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1anm2-6mkFfuxdj33-BX8k8jX-akEywDc",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1anm2-6mkFfuxdj33-BX8k8jX-akEywDc"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        112
      ],
      "id": "9f9e53e4-a0b8-44b6-9c18-6a6f003cfcc2",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mmM9LURkmSaSSBZ5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        112
      ],
      "id": "7ba6e4d6-4f37-44fc-b79c-d547f9461487",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mmM9LURkmSaSSBZ5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-index-768",
          "mode": "list",
          "cachedResultName": "rag-index-768"
        },
        "options": {
          "pineconeNamespace": "rag_docs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        848,
        -16
      ],
      "id": "c9251295-767f-4cea-8a73-e6c85dc305e0",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "niDnzHMzFJlxv8ij",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        592,
        224
      ],
      "id": "eea4831c-705e-484a-9a89-6adc1beacade",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        256,
        640
      ],
      "id": "bf563198-3ce5-459a-960e-83f72bbbf7cf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        640
      ],
      "id": "131216f6-08dc-4f14-b86c-ea81ad4508fc",
      "name": "When chat message received",
      "webhookId": "e0d77aeb-0ff6-4544-a8f2-be6fd6623fd1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to acces to answers ",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-index-768",
          "mode": "list",
          "cachedResultName": "rag-index-768"
        },
        "options": {
          "pineconeNamespace": "rag_docs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        688,
        736
      ],
      "id": "613b9e4f-ec50-43cc-89ec-76f5d5bd9272",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "KqRGrBPqUcglBJ6C",
          "name": "customer workflow"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        896,
        192
      ],
      "id": "c3481a9b-c0a2-4e73-a890-454ac9d9d454",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "GnE6ueRRXDjhjkdE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        832
      ],
      "id": "94c6f4e3-39b9-4a1d-9a19-2e5bd8de11b1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GnE6ueRRXDjhjkdE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        272,
        976
      ],
      "id": "06f1c344-5975-4aa2-af6c-9b5121c9e0de",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "GnE6ueRRXDjhjkdE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c76feb78-6fbf-44f7-9f88-40d2a6cd5e67",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f356843ce976c442c3a1839cd5a480b360b1cd89af49c6bb77bcf436ed918bdc"
  },
  "id": "q8cbuFhIXWGTnUy0",
  "tags": []
}