Workflows/RAG CHATBOT.json
{
  "name": "RAG CHATBOT",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1anm2-6mkFfuxdj33-BX8k8jX-akEywDc",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1anm2-6mkFfuxdj33-BX8k8jX-akEywDc"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        104
      ],
      "id": "9f9e53e4-a0b8-44b6-9c18-6a6f003cfcc2",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mmM9LURkmSaSSBZ5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        104
      ],
      "id": "7ba6e4d6-4f37-44fc-b79c-d547f9461487",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mmM9LURkmSaSSBZ5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-index",
          "mode": "list",
          "cachedResultName": "rag-index"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        448,
        0
      ],
      "id": "c9251295-767f-4cea-8a73-e6c85dc305e0",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "1dK59Ttqx49mhBsO",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        584,
        224
      ],
      "id": "eea4831c-705e-484a-9a89-6adc1beacade",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "BAAI/bge-small-en-v1.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        456,
        224
      ],
      "id": "56fa0e0c-e203-4729-bb04-4e2619961d04",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "yB1DZ4j15Uaj41fE",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        496,
        384
      ],
      "id": "bf563198-3ce5-459a-960e-83f72bbbf7cf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        432
      ],
      "id": "131216f6-08dc-4f14-b86c-ea81ad4508fc",
      "name": "When chat message received",
      "webhookId": "e0d77aeb-0ff6-4544-a8f2-be6fd6623fd1"
    },
    {
      "parameters": {
        "model": "mistralai/mistral-7b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        96,
        640
      ],
      "id": "40da9cca-dc5e-4726-b796-c3ae46b5092a",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "kj6nuVrfEQcDVOg6",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to acces to answers ",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-index",
          "mode": "list",
          "cachedResultName": "rag-index"
        },
        "options": {
          "pineconeNamespace": "docs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        720,
        608
      ],
      "id": "613b9e4f-ec50-43cc-89ec-76f5d5bd9272",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "1dK59Ttqx49mhBsO",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "BAAI/bge-small-en-v1.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        656,
        816
      ],
      "id": "71b57db9-6dc3-4147-a6dc-ce85b2ec9329",
      "name": "Embeddings HuggingFace Inference1",
      "credentials": {
        "huggingFaceApi": {
          "id": "yB1DZ4j15Uaj41fE",
          "name": "HuggingFaceApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "edcb26f9-65b8-4322-8e32-50d4128c920e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f356843ce976c442c3a1839cd5a480b360b1cd89af49c6bb77bcf436ed918bdc"
  },
  "id": "q8cbuFhIXWGTnUy0",
  "tags": []
}